DATABASE_URI=file:./yl-website.db
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET

# Mailtrap Configuration
MAILTRAP_API_KEY=your_api_key_here
MAILTRAP_SENDER_EMAIL=info@yl-association.org
MAILTRAP_SENDER_NAME="Young Leaders Association"
EMAIL_RECEIVER=contact@yl-association.org